


<div  class='container' fxLayout="row wrap" fxLayoutGap="16px grid">
  <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let joke of jokes$ | async">
    <p-card class='col card' header="{{joke.detail}}" subheader="{{joke.summary}}"></p-card>

  </div>
</div>

  <p-toast position="top-right" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="flex flex-column" style="flex: 1">
        <div class="text-center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
          <h4>{{message.summary}}</h4>
          <p>{{message.detail}}</p>
        </div>
        <div class="grid p-fluid">
          <div class="col-6">
            <button type="button" pButton (click)="forceReload()" label="Yes" class="p-button-success"></button>
          </div>
          <div class="col-6">
            <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toast>
