.layout-footer .footer-bottom {
  display: flex;
  align-items: center;

}

.layout-footer {
  padding: 30px 36px;
  background-color: #eef0f2;
}

.layout-footer .footer-bottom h4 {
  line-height: 22px;
  margin: 0 32px 0 50px;
}

.layout-footer .footer-bottom h6 {
  line-height: 17px;
  margin: 0;
  color: rgba(41, 50, 65, 0.5);
  font-weight: 500;
}
