
:host {
  padding: 30px;
}
.footer {
  z-index: 999;
}
.title {
  font-weight: 600;
  color: RGBA(41, 50, 65, 0.8);
  font-size: 21px;
  font-family: Segoe UI, serif;
  line-height: 22px;
  margin: 0 32px 0 0;
  display: inline-block;
}
.cc {

  font-family: Segoe UI, serif;
  font-size: 12px;
  height: auto;
  right: 24px;
  position: relative;
  bottom: 2px;

}
