/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}


.logo-text {
  right: 80px;
  color: #000;
  font-weight: bolder;
}
.logo-text :hover {
  background-color: #fff!important;
  box-shadow: none!important;

}
.lock-button {
  right: 80px;
  z-index: 99999;
}
